// showing default values
$accentColor = #3799B2
$textColor = #084251
$borderColor = #D8EAEE
$codeBgColor = #042328
$badgeTipColor = #6DCAE2
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961